<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vault PKI Primer</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static',filename='fav-icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static',filename='fav-icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static',filename='fav-icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename='fav-icon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static',filename='fav-icon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static',filename='fav-icon/safari-pinned-tab.svg') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ url_for('static',filename='fav-icon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <div class="main-container">
        <div class="main-wrapper">
            <div class="main-content">

                <div class="box-wrapper" data-clickable="true">
                    <div class="box" data-active="false">
                        <img src="{{ url_for('static', filename='img/workflow-create-intermediate.svg') }}"
                            alt="PKI Topology">
                        <span class="tooltiptext" id="tooltiptext">Workflow to setup root CA</span>
                    </div>
                </div>


                <div class="explainer-wrapper">

                    <div class="explainer" style="--splash-delay: 1">
                        <h1>The PKI Secrets Engine</h1>
                        <p>It is a secrets engine for generating and managing X.509 certificates.
                        </p>
                    </div>

                    <div class="explainer" style="--splash-delay: 3">
                        <p>It is a complementary solution to your external PKI providers to support an automated and
                            dynamic generation of your PKI certificates.</p>
                    </div>

                    <div class="explainer" style="--splash-delay: 6">
                        <p>It is an independent root PKI provider for private environments.</p>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="last">
        <a href="{{ url_for('six') }}">
            <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
        </a>
    </div>
    <div class="next">
        <a href="{{ url_for('eight') }}">
            <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
        </a>
    </div>

</body>

</html>