<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vault PKI Primer</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static',filename='fav-icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static',filename='fav-icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static',filename='fav-icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename='fav-icon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static',filename='fav-icon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static',filename='fav-icon/safari-pinned-tab.svg') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ url_for('static',filename='fav-icon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">


    </style>
</head>

<body>
    <div class="main-container">
        <div class="main-wrapper">
            <div class="main-content">

                <div class="explainer-wrapper" data-clickable="true">
                    <img class="explainer-image" src="{{ url_for('static', filename='img/vault_auth.svg') }}"
                        alt="Vault Authentication">
                    <span class="tooltiptext" id="tooltiptext">How does Vault work?</span>
                </div>


                <div class="explainer-wrapper">

                    <div class="explainer" style="--splash-delay: 1">
                        <h1>How Vault works</h1>
                        <p>Authentication engines validate consumer identities with configurable authentication methods.
                        </p>
                    </div>
                    <div class="explainer" style="--splash-delay: 3">
                        <p>Valid client identities inherit privileges declared in Vault policies, and also receive
                            session tokens.</p>
                    </div>

                    <div class="explainer" id="tale-teller" style="--splash-delay: 6">
                        <p>Tokens verify that clients are authorized and load relevant policies that grant privileges on
                            secrets engines.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="last">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/left-arrow.svg') }}" alt="Last">
        </a>
    </div>
    <div class="next">
        <a href="{{ url_for('three') }}">
            <img src="{{ url_for('static', filename='img/right-arrow.svg') }}" alt="Next">
        </a>
    </div>

</body>

</html>