<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vault PKI Primer</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static',filename='fav-icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static',filename='fav-icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static',filename='fav-icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static',filename='fav-icon/site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static',filename='fav-icon/safari-pinned-tab.svg') }}" color="#5bbad5">
    <link rel="shortcut icon" href="{{ url_for('static',filename='fav-icon/safari-pinned-tab.svg') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ url_for('static',filename='fav-icon/browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">

</head>

<body>
    <div class="main-container">
        <div class="main-content">

            <div class="explainer-wrapper">
                <img class="explainer-image"
                    src="{{ url_for('static', filename='img/workflow-define-trusted-entity.svg') }}" alt="PKI Topology">
                <span class="tooltiptext" id="tooltiptext">Workflow to setup root CA</span>
            </div>

            <div class="explainer-wrapper">

                <div class="explainer" style="--splash-delay: 1">
                    <h1>Workflow to request certificates</h1>
                    <p>
                        A trusted entity receives AppRole credentials for the PKI Broker role.
                    </p>
                </div>

                <div class="explainer" style="--splash-delay: 2">
                    <p>
                        There are multiple steps to grant or renew the AppRole credentials to the
                        trusted entity. The frequency to run the procedural steps is flexible and
                        configurable.
                    </p>
                </div>

                <div class="explainer" style="--splash-delay: 3">
                    <p>
                        Once the trusted entity can authenticate, it is ready to request certificates
                        on behalf of a PKI consumer in a leaf domain.
                    </p>
                </div>
            </div>

        </div>
    </div>

</body>

</html>